.navigation__container {
    background-color: var(--nav-color);
    color           : white;
}


@media (min-width: 1200px) {
    .navigation__container {
        padding-inline: 13%;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: var(--font-color) !important;
}

.navbar-light .navbar-brand {
    color: var(--font-color) !important;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1)
}

.links {
    a {
        border-radius: 10px;

        &:hover {
            background-color: var(--font-color-hover);
        }
    }
}